button{
  color: red;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("https://wallpaperaccess.com/full/3740272.jpg");
  -webkit-background-size: cover;
  padding-top: 100px;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
table.GeneratedTable {

  width: 100%;
  background-color: #000000;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #00000;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {

  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {

  background-color: #000000;
}
.albums{
  background-color: #000000;
  padding-left: 100px;
  text-align:center;
}
